<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form class="principal__formulario" [formGroup]="cadastroForm">
    <h3 class="principal__subtitulo">Dados pessoais</h3>

    <!-- NOME -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input
        name="nome"
        id="nome"
        formControlName="nome"
        class="campo__escrita"
        required
        minlength="2"
      />
      <small
        *ngIf="cadastroForm.get('nome')?.errors?.['required'] && cadastroForm.get('nome')?.touched"
        >Campo nome obrigatório.</small
      >
      <small
        class="erro__texto"
        *ngIf="cadastroForm.get('nome')?.errors?.['minlength'] && cadastroForm.get('nome')?.touched"
        >Nome deve ter mais de 2 caracteres.</small
      >
    </div>

    <!-- EMAIL -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input
        name="email"
        id="email"
        type="email"
        class="campo__escrita"
        formControlName="email"
        required
        email
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      />
      <small
        class="erro__texto"
        *ngIf="cadastroForm.get('email')?.errors?.['required'] && cadastroForm.get('email')?.touched"
      >
        Campo e-mail obrigatório.
      </small>
      <small
        class="erro__texto"
        *ngIf="cadastroForm.get('email')?.errors?.['email'] else patternEmail"
      >
        Campo e-mail incorreto.
      </small>
      <ng-template #patternEmail>
        <small
          class="erro__texto"
          *ngIf="cadastroForm.get('email')?.errors?.['pattern']"
        >
          Acrescente "@" e ".com".
        </small>
      </ng-template>
    </div>

    <!-- CONTATO -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="contato">Contato</label>
      <input
        name="contato"
        id="contato"
        formControlName="contato"
        type="tel"
        placeholder="(XX) XXXXX-XXXX"
        class="campo__escrita"
        required
        pattern="^\d{2} \d{5}-\d{4}$"
        maxlength="15"
      />
      <small
        class="erro__texto"
        *ngIf="cadastroForm.get('contato')?.errors?.['required'] && cadastroForm.get('contato')?.touched"
      >
        Campo telefone obrigatório.
      </small>
      <small
        class="erro__texto"
        *ngIf="cadastroForm.get('contato')?.errors?.['pattern']"
      >
        Campo telefone deve ter DDD com 2 digitos e 9 digitos.
      </small>
    </div>

    <!-- NASCIMENTO -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nascimento">Data de Nascimento</label>
      <input
        name="nascimento"
        id="nascimento"
        formControlName="nascimento"
        type="date"
        class="campo__escrita"
        required
      />
      <div
        *ngIf="
          cadastroForm.get('nascimento')?.invalid &&
          cadastroForm.get('nascimento')?.touched
        "
      >
        <app-mensagem
          *ngIf="cadastroForm.get('nascimento')?.errors?.['required']"
          mensagem="A data de nascimento deve ser preenchida corretamente."
        ></app-mensagem>
        <app-mensagem
          *ngIf="cadastroForm.get('nascimento')?.errors?.['maiorIdadeValidator']"
          mensagem="O usuário deve ter mais de 18 anos."
        ></app-mensagem>
      </div>
    </div>

    <h3 class="principal__subtitulo">Endereço</h3>

    <!-- CEP -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input
        type="text"
        id="cep"
        formControlName="cep"
        class="campo__escrita"
        name="cep"
      />
    </div>

    <!-- ENDEREÇO -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input
        name="endereco"
        formControlName="endereco"
        id="endereco"
        class="campo__escrita"
      />
    </div>

    <!-- NUMERO -->
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input
          name="numero"
          formControlName="numero"
          id="numero"
          class="campo__escrita"
        />
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input
          name="numero"
          formControlName="complemento"
          name="complemento"
          id="complemento"
          class="campo__escrita"
        />
      </div>
    </div>

    <!-- BAIRRO -->
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input
        formControlName="bairro"
        name="bairro"
        id="bairro"
        class="campo__escrita"
      />
    </div>

    <!-- CIDADE -->
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input
          name="cidade"
          formControlName="cidade"
          id="cidade"
          class="campo__escrita"
        />
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select
          id="estado"
          name="estado"
          class="campo__escrita"
          formControlName="uf"
        >
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>
    </div>

    <div class="formulario__botao">
      <button type="submit" (click)="cadastrar()" class="enviar">
        Enviar formulário
      </button>
      <button type="submit" (click)="listar()" class="listar">
        Listar pessoas
      </button>
    </div>
  </form>
</main>
